{% extends 'base.html'%}
{% load static %}
{% block content %}

<center>
    <h3>BOOK DETAILS</h3>
    <table class="table table-bordered">
        <tr>
            <th>Cover</th>
             <td><img src="{{book.cover.url}}" height="100px" width="100px"></td>
        </tr>
        <tr>
            <th>TITLE</th>
            <td>{{book.title}}</td>

        </tr>
        <tr>
            <th>AUTHOR</th>
            <td>{{book.author}}</td>

        </tr>
        <tr>
            <th>PRICE</th>
            <td>{{book.price}}</td>

        </tr>
        <tr>
            <th>DOCUMENT</th>
            <td><a href=" {{book.pdf.url}}">Document</a></td>

        </tr>
    </table>
</center>
{% endblock %}